*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}
[id^=section] {
	margin-bottom: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #533738;
    font-size:  18px;
    line-height: 30px;
    background-color: #E5E5E5;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}
.title{
    color: #533738;
}
.container{
    max-width: 1250px;
    padding: 0 5px;
    margin: 0 auto;
}
.header{
    position: absolute;
    width: 100%;
}
.header__menu{
    margin-top: 36px;
    display: flex;
    /* position: fixed;
    z-index: 2; */
}
.header__logo{
    height: 25px;
    width: 25px;
}
.header__logo-title{
    margin-right: 90px;
    text-transform: uppercase;
}
.header__menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}
.header__menu-item{
    margin-right: 26px;
}
.header__menu-item{
    list-style: none;
}
.header__menu-item--list{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:  16px;
    line-height: 20px;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 2px solid transparent;
    
}
.header__menu-item--list:hover{  
    border-bottom: 2px solid #533738;
    
}
.header__phone{
    margin-left: 35px;
}
.header__main{
    padding: 150px 0 165px 185px;
    width: 100%;
    background-image: url("../img/header-logo.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 400;
}
.header__main-title{ 
    width: 535px;
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 25px;
}
.header__main-text{   
    width: 490px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.header__main-btn{
    display: inline-block;
    width: 310px;
    height: 74px;
    background-color: #CC8B86;
    padding: 25px 65px;
    color: #533738;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    transition: all .5s;
    border: 2px solid transparent;
}
.header__main-btn:hover{
    background-color: #cc8b86b4;
    border: 2px solid #CC8B86;
    color: #533738d3;
}
.about__title{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    margin: 50px 0 40px 0;
}

.about__info{
    display: flex;
    margin-bottom: 20px;
    margin-left: 105px;
}
.about__in{
    width: 520px;
    margin-left: 63px;
}
.about__info p:first-child{
    margin-bottom: 30px;
}
.about__info-text{
    margin-bottom: auto;
}
.info{
    width: 100%;
    background-color: #8D7370;
    margin-bottom: 65px;
}

.info__inner{
    padding: 80px 0;
    margin: 0 -50px;
}
.info__items{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.info__items li{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info__item{
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    color: #fff;
}
.info__item span{
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
}
.projects{
    margin-bottom: 65px;
}
.projects__title{
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.projects__items{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.projects__item{
    position: relative;
    margin-right: 20px;
    margin-bottom: 30px;
}

.work__hover {
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 9px;
    padding: 85px 35px 125px 35px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
    background: rgba(100, 72, 69, 0.8);
  }
.work__hover-title{
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    width: 270px;
    text-align: center;
    margin-bottom: 15px;
}
.work__hover-text{
    width: 418px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.work__hover:hover{
    opacity: 1;
}
.btn{
    
    font-weight:500;
    font-size: 30px;
    line-height: 37px;
    transition:all .3s;
    text-align: center;

}

.btn:hover{
    transform: translateX(20px);
    transition:all .4s;
}
.team{
    background-color:  #E2C4BA;
}
.team__title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 40px;
    padding-top: 50px;
    text-align: center;
}
.team__items{
    display: flex;
    gap: 40px;
    margin-bottom: 35px;
    justify-content: center;
}
.team__item{
    list-style: none;
    width: 320px;
}
.team__work{
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}
.team__work-items{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 80px;
}

.team__work-rules{
    position: relative;
    margin: 0px auto 20px;
    background-color: #8D7370;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
}
.team__work-items li:first-child span{
    position: absolute;
    left: 29px;
}
.team__work-items li:last-child span{
    position: absolute;
    left: 24px;
}
.team__work-number{
    position: absolute;
    top: 20px;
    left: 27px;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
    font-size: 30px;
}
.team__work-text{
    width: 285px;
    text-align: center;
}
.reviews {
    margin-top: 65px;
    margin-bottom: 65px;
    
  }
  
.review-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-left: 615px;
    margin-bottom: 40px;
    margin-left: 510px;
    text-transform: uppercase;
  }
  
.slider {
     position: relative;
}
.slider__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__review{
    margin: 80px 20px 0 0;
    width: 407px;
}
.slider__review-text{
    margin-bottom: 40px;
}
.slick-track{
    display: flex;
    
}
.slick-list{
    overflow: hidden;
    
}
.slider .draggable{
    width: 870px;
    margin-left: 185px;
}
.slick-arrow{
    position: absolute;
    background-color: #CC8B86;
    top: 50%;
    font-size: 0;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;
}
.slick-prev{
    background: url("../img/arrow-slider.svg") no-repeat;
    top: 230px;
    left: 110px;
    background-position: center;
    background-color: #CC8B86;
    transition:all .4s;
    z-index: 1;
}
.slick-prev:hover{
    background-color: #cc8b86b4;
    transition:all .4s;
}
.slick-next{
    background: url("../img/arrow-slider.svg") no-repeat;
    transform: rotate(180deg);
    top: 230px;
    right: 110px;
    background-position: center;
    background-color: #CC8B86;
    transition:all .4s;
}
.slick-next:hover{
    background-color: #cc8b86b4;
    transition:all .4s;
}
.slider .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
    background-color: #CC8B86;
    border-radius: 50%;
    border: 1px solid #CC8B86;
}
.slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid #CC8B86;
    
}
.slider__review{
    margin-bottom: 15px;
    width: 407px;
}
.slider-img {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}
.img-item{
    width: 407px;
    height: 272px;
}
.application{
    background-color:  #8D7370;
}
.application__inner{
    display: flex;
    margin-left: -100px;
}
.application__item{
    width: 510px;
    padding-top: 50px;
    margin-left: 180px;
    margin-right: 20px;
}
.application__title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 25px;
    color: #fff;
}
.application__text{
    width: 465px;
    margin-bottom: 45px;
    color: #fff;
    opacity: 0.6;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}
.application__name, .application__phone{
    width: 508px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    margin-bottom: 35px;
}
.application__name::placeholder,
.application__phone::placeholder{
    color: #F6EDE9;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}
.frame{
    margin-bottom: -10px;
}
.footer__inner{
    display: flex;
    margin: 37px 0;
    list-style: none;
}
.footer__phone{
    margin-right: 45px;
}
.footer__address{
     font-style: normal;  /*правка */
}
.footer__owner{
    margin-left: auto;
    margin-right: 40px;
}

@media (max-width: 550px) {
    .container{
        padding: 0 10px;
    }
    .header__menu{
        display: flex;
        flex-direction: column;
    }
    .header__menu-inner{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .header__logo-title{
        margin: 0;
    }
    .header__menu-items{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 15px 0px;
    }
    .header__menu-item{
        margin: 0;
    }
    .header__phone{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .header__main{
        background: url("../img/header-logo.jpg") no-repeat;
        margin: 0;
        padding: 0;
        padding-bottom: 36px;
    }
    .header__main-title{
       width: auto;
       padding-top: 340px;
       font-size: 30px;
       text-align: center;
       line-height: 40px;
       font-weight: 500;
       margin: 0 auto;
       margin-bottom: 10px;
    }
    .header__main-text{
        width: auto;
        text-align: center;
        font-size: 16px;
    }
    .header__main-btn{
        display: block;
        margin: 0 auto;
    }
    .about__title{
        font-size: 25px;
        margin: 20px 0;
    }
    .about__info{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .about__image{
        margin-bottom: 10px;
    }
    .about__in{
        width: auto;
        margin: 0;
        text-align: justify;
        font-size: 16px;
    }
    .about__info-text{
        margin-bottom: 30px;
    }
    .info__inner{
        margin: 0;
        padding: 0;
    }
    .info__items{
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }
    .info__item{
        margin-bottom: 20px;
        line-height: 20px;
        font-size: 30px;
    }
    .info__item span{
        font-size: 40px;
    }
    .projects__btn{
        font-size: 16px;
    }
    .projects__btn-arrow{
       height: 9px;
    }
    .projects__title{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        margin: -50px 0 20px 0;
    }
    .projects__inner{
        display: flex;
        flex-direction: column;
    }
    .projects__items{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .projects__item,
    .project__item-link img{
        width: 100%;
        margin: 0;
        margin-bottom: 5px;
    }
    .work__hover-title{
        font-size: 20px;
    }
    .work__hover-text{
        font-size: 16px;
        text-align: center;
    }
    .team__title,
    .team__work{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        padding: 20px 0;
        margin: 0;
    }
    .team__items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team__work-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .team__work-item{
        margin-bottom: 20px;
    }
    .team__work-rules{
        margin: 0px auto 10px;
    }
    .team__work-text,
    .team__text{
        font-size: 16px;
    }
}
